In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [3]:
df=pd.read_csv("/Users/sarahboller/Desktop/CF Achievement 6/02 Data/clean recent city merged 3182024.csv")

In [4]:
df.head()

,host_since,days Passed,host_total_listings_count,latitude,longitude,property_type,room_type,accommodates,bathrooms,Private/Shared/Unknown,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month,listing_city
0,11/26/08,5591,4,38.86339,-76.98889,Private room in home,Private room,1,1.0,private,...,4.64,4.73,4.45,4.91,4.84,3.91,4.64,f,0.53,"Washington, DC"
1,12/12/08,5575,5,38.91195,-77.00456,Private room in townhouse,Private room,2,1.0,private,...,4.83,4.88,4.92,4.94,4.91,4.57,4.75,f,2.78,"Washington, DC"
2,12/12/08,5575,2,38.88719,-76.99472,Private room in home,Private room,1,1.5,shared,...,4.85,4.98,4.87,5.00,4.98,4.96,4.95,f,0.33,"Washington, DC"
3,12/30/08,5557,4,38.90585,-76.94469,Private room in home,Private room,2,1.0,shared,...,4.66,4.80,4.60,4.93,4.93,4.51,4.83,f,0.58,"Washington, DC"
4,1/26/09,5530,6,38.91217,-76.99249,Private room in home,Private room,1,3.0,unknown,...,4.74,4.68,4.89,4.93,4.93,4.21,4.64,f,0.19,"Washington, DC"

In [5]:
# Upper limit of price is 532.5. Deleting outliers.

In [6]:
df.loc[df['price']<532.5, 'price_not_outlier'] = 'Good'

/var/folders/xq/j07ql7ls565cz8lmytmw14b40000gn/T/ipykernel_96182/2917731842.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Good' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['price']<532.5, 'price_not_outlier'] = 'Good'

In [7]:
df.head()

,host_since,days Passed,host_total_listings_count,latitude,longitude,property_type,room_type,accommodates,bathrooms,Private/Shared/Unknown,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month,listing_city,price_not_outlier
0,11/26/08,5591,4,38.86339,-76.98889,Private room in home,Private room,1,1.0,private,...,4.73,4.45,4.91,4.84,3.91,4.64,f,0.53,"Washington, DC",Good
1,12/12/08,5575,5,38.91195,-77.00456,Private room in townhouse,Private room,2,1.0,private,...,4.88,4.92,4.94,4.91,4.57,4.75,f,2.78,"Washington, DC",Good
2,12/12/08,5575,2,38.88719,-76.99472,Private room in home,Private room,1,1.5,shared,...,4.98,4.87,5.00,4.98,4.96,4.95,f,0.33,"Washington, DC",Good
3,12/30/08,5557,4,38.90585,-76.94469,Private room in home,Private room,2,1.0,shared,...,4.80,4.60,4.93,4.93,4.51,4.83,f,0.58,"Washington, DC",Good
4,1/26/09,5530,6,38.91217,-76.99249,Private room in home,Private room,1,3.0,unknown,...,4.68,4.89,4.93,4.93,4.21,4.64,f,0.19,"Washington, DC",NaN

In [8]:
df_no_outliers=df[df['price_not_outlier']=="Good"]

In [9]:
df_no_outliers.head()

,host_since,days Passed,host_total_listings_count,latitude,longitude,property_type,room_type,accommodates,bathrooms,Private/Shared/Unknown,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month,listing_city,price_not_outlier
0,11/26/08,5591,4,38.86339,-76.98889,Private room in home,Private room,1,1.0,private,...,4.73,4.45,4.91,4.84,3.91,4.64,f,0.53,"Washington, DC",Good
1,12/12/08,5575,5,38.91195,-77.00456,Private room in townhouse,Private room,2,1.0,private,...,4.88,4.92,4.94,4.91,4.57,4.75,f,2.78,"Washington, DC",Good
2,12/12/08,5575,2,38.88719,-76.99472,Private room in home,Private room,1,1.5,shared,...,4.98,4.87,5.00,4.98,4.96,4.95,f,0.33,"Washington, DC",Good
3,12/30/08,5557,4,38.90585,-76.94469,Private room in home,Private room,2,1.0,shared,...,4.80,4.60,4.93,4.93,4.51,4.83,f,0.58,"Washington, DC",Good
5,1/13/09,5543,4,38.91887,-77.04008,Entire rental unit,Entire home/apt,3,1.0,unknown,...,4.71,4.13,4.82,4.82,4.91,4.44,f,0.55,"Washington, DC",Good

In [11]:
df_no_outliers.drop(columns= ['price_not_outlier', 'reviews_per_month', 'host_total_listings_count'])

,host_since,days Passed,latitude,longitude,property_type,room_type,accommodates,bathrooms,Private/Shared/Unknown,beds,...,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,listing_city
0,11/26/08,5591,38.863390,-76.988890,Private room in home,Private room,1,1.0,private,1,...,8/30/23,4.64,4.73,4.45,4.91,4.84,3.91,4.64,f,"Washington, DC"
1,12/12/08,5575,38.911950,-77.004560,Private room in townhouse,Private room,2,1.0,private,1,...,11/22/23,4.83,4.88,4.92,4.94,4.91,4.57,4.75,f,"Washington, DC"
2,12/12/08,5575,38.887190,-76.994720,Private room in home,Private room,1,1.5,shared,1,...,11/11/23,4.85,4.98,4.87,5.00,4.98,4.96,4.95,f,"Washington, DC"
3,12/30/08,5557,38.905850,-76.944690,Private room in home,Private room,2,1.0,shared,1,...,7/5/19,4.66,4.80,4.60,4.93,4.93,4.51,4.83,f,"Washington, DC"
5,1/13/09,5543,38.918870,-77.040080,Entire rental unit,Entire home/apt,3,1.0,unknown,1,...,8/17/23,4.50,4.71,4.13,4.82,4.82,4.91,4.44,f,"Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202279,3/31/16,2909,42.661069,-73.789731,Entire home,Entire home/apt,10,1.5,unknown,6,...,2/7/24,5.00,5.00,4.83,5.00,5.00,5.00,5.00,f,"Albany, NY"
202280,9/18/22,547,42.661443,-73.773513,Private room in rental unit,Private room,2,1.0,shared,1,...,2/11/24,5.00,5.00,5.00,5.00,5.00,5.00,5.00,f,"Albany, NY"
202281,12/27/15,3004,42.640813,-73.774628,Entire home,Entire home/apt,4,1.0,unknown,2,...,1/2/24,5.00,5.00,5.00,5.00,5.00,5.00,5.00,f,"Albany, NY"
202282,8/25/14,3493,42.670961,-73.795139,Private room in home,Private room,1,1.5,unknown,3,...,2/10/24,5.00,5.00,5.00,5.00,5.00,5.00,5.00,f,"Albany, NY"
202283,10/20/23,150,42.679082,-73.795049,Entire home,Entire home/apt,5,1.0,unknown,2,...,2/4/24,4.00,5.00,5.00,5.00,1.00,5.00,5.00,f,"Albany, NY"

In [12]:
df_no_outliers.shape

(188466, 27)

In [13]:
df_no_outliers.dtypes

host_since                      object
days Passed                      int64
host_total_listings_count        int64
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                     int64
bathrooms                      float64
Private/Shared/Unknown          object
beds                             int64
price                            int64
has_availability                object
number_of_reviews                int64
first_review                    object
last_review                     object
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
instant_bookable                object
reviews_per_month              float64
listing_city                    object
price_not_outlier               object
dtype: object

In [15]:
df_no_outliers.to_csv("/Users/sarahboller/Desktop/CF Achievement 6/02 Data/clean recent city 4152024.csv")

In [27]:
df_upper_limit=df_no_outliers=df[df['price_outlier']=="outlier"]

In [28]:
df_upper_limit.shape

(13818, 28)

In [29]:
df_4=df_upper_limit.drop(columns= ['price_outlier', 'price_not_outlier', 'reviews_per_month', 'host_total_listings_count', 'has_availability', 'first_review', 'last_review','reviews_per_month'])

In [30]:
df_4.shape

(13818, 21)

In [31]:
df_4.to_csv("/Users/sarahboller/Desktop/CF Achievement 6/02 Data/upper limit price outliers 4152024.csv")